body {
    background-color: rgb(250, 231, 197);
    color: rgb(54, 87, 59);
    max-width: 100%;
    overflow-x: hidden;
}

#pageTitle{
    text-align: center;
}

#summary{
    position: relative;
    font-size: larger;
    border-style: solid;
    border-radius: 30px;
    width: 40%;
    padding: 20px;
}

#cardTitle{
    position: relative;
    left: 68%;
    bottom: 275px;
}

.card{
    position: relative;
    left: 68%;
    bottom: 285px;
    border-style: solid;
    border-radius: 30px;
    margin-right: auto;
    width: 30%;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 10px;
}

#education{
    position: relative;
    top: 80%;
    border-style: solid;
    border-radius: 30px;
    padding: 10px;
}

.educationContainer{
    position: relative;
    bottom: 275px;
}

#workExperienceTitle{
    position: relative;
    bottom: 275px;
}

.workExperience{
    position: relative;
    bottom: 275px;
    border-style: solid;
    border-radius: 30px;
    padding: 10px;
}

#projects{
    border-style: solid;
    border-radius: 30px;
    padding: 10px;
}

.projectContainer{
    position: relative;
    bottom: 275px;
}

.dataCapabilitiesContainer{
    position: relative;
    bottom: 275px;
}

#backend{
    border-style: solid;
    border-radius: 30px;
    display: flex;
    padding: 20px;
    width: 97%;
    height: 200px;
}

#backendTitle{
    position: relative;
    bottom: 30px;
}

.backend_img{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 90%;
}

#security{
    border-style: solid;
    border-radius: 30px;
    display: flex;
    padding: 20px;
    width: 97%;
    min-height: 200px;
    height: auto;
}

#securityTitle{
    position: relative;
    bottom: 30px;
}

.security_img{
    position: relative;
    top: 40px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 40%;
}

.security_img img{
    margin: 10px;
}

#frontend{
    border-style: solid;
    border-radius: 30px;
    display: flex;
    padding: 20px;
    width: 97%;
    height: 200px;
}

#frontendTitle{
    position: relative;
    bottom: 30px;
}

.frontend_img{
    position: relative;
    top: 30px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 90%;
}

#gamedev{
    border-style: solid;
    border-radius: 30px;
    display: flex;
    padding: 20px;
    width: 97%;
    height: 200px;
}

#gameDevTitle{
    position: relative;
    bottom: 30px;
}

.gamedev_img{
    position: relative;
    top: 30px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 90%;
    left: 5%; 
}

#IoT{
    border-style: solid;
    border-radius: 30px;
    display: flex;
    padding: 20px;
    width: 97%;
    height: 200px;
}

#IoTTitle{
    position: relative;
    bottom: 30px;
}

.IoT_img{
    position: relative;
    display: flex;
    width: 60%;
    height: 90%;
    left: 38%;
}

#UI{
    border-style: solid;
    border-radius: 30px;
    display: flex;
    vertical-align: middle;
    padding: 20px;
    width: 97%;
    height: 200px;
    height: auto;
}

#UITitle{
    position: relative;
    bottom: 30px;
}

.UI_img{
    position: relative;
    top: 10px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 90%;
    padding-left: 5%;
}

.UI_img img{
    margin: 20px;
}

#AI{
    border-style: solid;
    border-radius: 30px;
    display: flex;
    padding: 20px;
    width: 97%;
    height: 200px;
}

#AITitle{
    position: relative;
    bottom: 30px;
}

.AI_img{
    position: relative;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 90%;
    left: 15%;
}

.buttonStyle{
    background-color: black;
    color: white;
    transition: all 0.2s ease-in-out;
}

.buttonStyle:hover{
    background-color: green;
    color: black;
}