body {
    background-color: black;
    color: green;
}

#pageTitle{
    text-align: center;
    
}

.card{
    border-style: solid;
    margin-right: auto;
    width: 400px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 10px;
}

#summary{
    font-size: larger;
    border-style: solid;
    padding: 20px;
}

#backend{
    border-style: solid;
    display: flex;
    padding: 20px;
    width: 97%;
    height: 200px;
}

#backendTitle{
    position: relative;
    bottom: 30px;
}

.backend_img{
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 90%;
}

#security{
    border-style: solid;
    display: flex;
    padding: 20px;
    width: 97%;
    min-height: 200px;
    height: auto;
}

#securityTitle{
    position: relative;
    bottom: 30px;
}

.security_img{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 85%;
    height: 90%;
    bottom: 3%;
}

.security_img img{
    margin: 10px;
}

#frontend{
    border-style: solid;
    display: flex;
    padding: 20px;
    width: 97%;
    height: 200px;
}

#frontendTitle{
    position: relative;
    bottom: 30px;
}

.frontend_img{
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 90%;
}

#gamedev{
    border-style: solid;
    display: flex;
    padding: 20px;
    width: 97%;
    height: 200px;
}

#gameDevTitle{
    position: relative;
    bottom: 30px;
}

.gamedev_img{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 90%;
    left: 5%;
    
}

#IoT{
    border-style: solid;
    display: flex;
    padding: 20px;
    width: 97%;
    height: 200px;
}

#IoTTitle{
    position: relative;
    bottom: 30px;
}

.IoT_img{
    position: relative;
    display: flex;
    width: 60%;
    height: 90%;
    left: 35%;
}

#UI{
    border-style: solid;
    display: flex;
    vertical-align: middle;
    padding: 20px;
    width: 97%;
    height: 200px;
    height: auto;
}

#UITitle{
    position: relative;
    bottom: 30px;
}

.UI_img{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 85%;
    height: 90%;
    left: 5%;
    bottom: 20%;
    padding-left: 10%;
}

.UI_img img{
    margin: 20px;
}

#education{
    border-style: solid;
    padding: 10px;
}

#projects{
    border-style: solid;
    padding: 10px ;
}

#workExperience{
    border-style: solid;
    padding: 10px;
}



